/* ====== auth-page ====== */

body.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====== form ====== */
#auth-form {
    background: var(--form-bg);
    width: 50vh;
    min-width: 20%;
    height: auto;
    margin: auto;
    box-shadow: 0 0 50px #00000050;
    border-radius: 15px;
    /*border: 5px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#in-auth-form {
    margin-top: 1em;
    width: 90%;
    /*border: 5px solid white;*/
}


/* ====== h2 ====== */
.auth-h2 {
    text-align: center;
}

/* ====== btn ====== */
.auth-btn {
    margin: 0.7em 0;
}

.auth-btn-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}