/* ====== auth-page ====== */

body.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ====== form ====== */
#auth-form {
    background: var(--form-bg);
    border-radius: 30px;
    border: 1px solid #6A6A6A;
    padding: 2em 1em;
    width: 35vh;
}

#username {
    display: none;
}


/* ====== Заголовок ====== */
.auth-h2 {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.auth-p {
    text-align: center;
    font-size: 14px;
    color: #FFFFFF59;
    margin-bottom: 0.5em;
}

/* ====== Элементы ====== */
.auth-btn-container {
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    background: #262626;
    border-radius: 16px;
}


.auth-btn-action:hover {
    background-color: #0056b3;
}

.auth-btn-change {
    width: 60%;
}