* {
  box-sizing: border-box;
}

/*var(--hover)*/
:root {
  --test: transparent;
  --main-bg: #0f0f0f;
  --text-color: white;
  --form-bg: #1d1d1d;
  --blocks: #1d1d1d;
  --btn-bg: #0071e3;
  --txt-color-dark: #1d1d1f;
  --input-color: #262626;
  --btn-bg-deactive: #262626;
  --border-color: #3d3d3d;
  --icons-color: white;
  --hover: #0056b3;
}

#logoutButton {
  position: relative;
  z-index: 10;
}

html,
body {
  color: var(--text-color);
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--main-bg);
  font-size: 16px;
  line-height: 120%;
  font-family:
    Open Sans,
    Helvetica,
    sans-serif;
}

.dashboard {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 0;
  grid-template-columns: 300px auto;
  grid-template-rows: 80px auto;
  grid-template-areas: "menu search" "menu content";
}

#search {
  background: var(--input-color);
  color: var(--text-color);
  border-radius: 16px;
  margin-left: 1em;
}

.search-wrap {
  grid-area: search;
  background: var(--main-bg);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
}

.search-wrap .search {
  height: 40px;
}

.search-wrap .search label {
  display: flex;
  align-items: center;
  height: 100%;
}

.search-wrap .search label svg {
  display: block;
}

.search-wrap .search label svg path,
.search-wrap .search label svg circle {
  fill: var(--icons-color);
  transition: fill 0.15s ease;
}

.search-wrap .search label input {
  display: block;
  padding-left: 1em;
  height: 100%;
  margin: 0;
  border: 0;
}

.search-wrap .search label input:focus {
  background: red;
}

.search-wrap .search label:hover svg path,
.search-wrap .search label:hover svg circle {
  fill: var(--hover);
}

.search-wrap .user-actions button {
  border: 0;
  background: none;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  margin-left: 0.5em;
}

.search-wrap .user-actions button svg {
  position: relative;
  top: 2px;
}

.search-wrap .user-actions button svg path,
.search-wrap .user-actions button svg circle {
  fill: var(--icons-color);
  transition: fill 0.15s ease;
}

.search-wrap .user-actions button:hover svg path,
.search-wrap .user-actions button:hover svg circle {
  fill: var(--hover);
}

.menu-wrap {
  grid-area: menu;
  padding-bottom: 3em;
  overflow: auto;
  background: var(--main-bg);
  border-right: 1px solid var(--border-color);
}

.menu-wrap .user {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0 3em;
}

.menu-wrap .user .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.menu-wrap .user .user-avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-wrap .user figcaption {
  margin: 0;
  padding: 0 0 0 1em;
  color: var(--text-color);
  font-weight: 700;
  font-size: 0.875em;
  line-height: 100%;
}

.menu-wrap nav {
  display: block;
  padding: 0 3em;
}

.menu-wrap nav section {
  display: block;
  padding: 3em 0 0;
}

.menu-wrap nav h3 {
  margin: 0;
  font-size: 0.875em;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 600;
}

.menu-wrap nav ul {
  display: block;
  padding: 0;
  margin: 0;
}

.menu-wrap nav li {
  display: block;
  padding: 0;
  margin: 1em 0 0;
}

.menu-wrap nav li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875em;
  transition: color 0.15s ease;
}

.menu-wrap nav li a svg {
  display: block;
  margin-right: 1em;
}

.menu-wrap nav li a svg path,
.menu-wrap nav li a svg circle {
  fill: var(--icons-color);
  transition: fill 0.15s ease;
}

.menu-wrap nav li a:hover {
  color: var(--text-color);
}

.menu-wrap nav li a:hover svg path,
.menu-wrap nav li a:hover svg circle {
  fill: var(--hover);
}

.menu-wrap nav li a.active {
  color: var(--text-color);
}

.menu-wrap nav li a.active svg path,
.menu-wrap nav li a.active svg circle {
  fill: var(--icons-color);
}

.content-wrap {
  grid-area: content;
  padding: 3em;
  overflow: auto;
}

.content-wrap .content-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-wrap .content-head h1 {
  font-size: 1.375em;
  line-height: 100%;
  color: var(--text-color);
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.content-wrap .content-head .action button {
  border: 0;
  background: var(--btn-bg);
  color: var(--main-bg);
  width: auto;
  height: 3.5em;
  padding: 0 2.25em;
  border-radius: 3.5em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  transition: background-color 0.15s ease;
}

.content-wrap .content-head .action button:hover {
  background-color: var(--hover);
}

.content-wrap .content-head .action button:hover:active {
  background-color: var(--hover);
  transition: none;
}

.content-wrap .info-boxes {
  padding: 3em 0 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 2em;
}

.content-wrap .info-boxes .info-box {
  background: var(--main-bg);
  height: 100px; /*160*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 3em;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.content-wrap .info-boxes .info-box .box-icon svg {
  display: block;
  width: 48px;
  height: 48px;
}

.content-wrap .info-boxes .info-box .box-icon svg path,
.content-wrap .info-boxes .info-box .box-icon svg circle {
  fill: var(--text-color);
}

.content-wrap .info-boxes .info-box .box-content {
  padding-left: 1.25em;
  white-space: nowrap;
}

.content-wrap .info-boxes .info-box .box-content .big {
  display: block;
  font-size: 2em;
  line-height: 150%;
  color: var(--text-color);
}

.content-wrap .info-boxes .info-box.active svg circle,
.content-wrap .info-boxes .info-box.active svg path {
  fill: var(--icons-color);
}

.content-wrap .person-boxes {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 2em;
}

.content-wrap .person-boxes .person-box {
  background: var(--main-bg);
  height: 320px;
  text-align: center;
  padding: 3em;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.content-wrap .person-boxes .person-box:nth-child(2n) .box-avatar .no-name {
  background: var(--hover);
}

.content-wrap .person-boxes .person-box:nth-child(5n) .box-avatar .no-name {
  background: var(--hover);
}

.content-wrap .person-boxes .person-box .box-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.content-wrap .person-boxes .person-box .box-avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-wrap .person-boxes .person-box .box-avatar .no-name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--main-bg);
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  background: var(--hover);
}

.content-wrap .person-boxes .person-box .box-bio {
  white-space: no-wrap;
}

.content-wrap .person-boxes .person-box .box-bio .bio-name {
  margin: 2em 0 0.75em;
  color: var(--text-color);
  font-size: 1em;
  font-weight: 700;
  line-height: 100%;
}

.content-wrap .person-boxes .person-box .box-bio .bio-position {
  margin: 0;
  font-size: 0.875em;
  line-height: 100%;
}

.content-wrap .person-boxes .person-box .box-actions {
  margin-top: 1.25em;
  padding-top: 1.25em;
  width: 100%;
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-wrap .person-boxes .person-box .box-actions button {
  border: 0;
  background: none;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
}

.content-wrap .person-boxes .person-box .box-actions button svg {
  position: relative;
  top: 2px;
}

.content-wrap .person-boxes .person-box .box-actions button svg path,
.content-wrap .person-boxes .person-box .box-actions button svg circle {
  fill: var(--icons-color);
  transition: fill 0.15s ease;
}

.content-wrap .person-boxes .person-box .box-actions button:hover svg path,
.content-wrap .person-boxes .person-box .box-actions button:hover svg circle {
  fill: var(--hover);
}

#user-avatar-img:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  transition: all 0.3s ease;
}
