/* ====== Базовые стили ====== */

:root {
  --test: transparent;
  --main-bg: #0f0f0f;
  --form-bg: #1d1d1d;
  --blocks: #1d1d1d;
  --btn-bg: #0071e3;
  --txt-color-dark: #1d1d1f;
  --input-color: #262626;
  --btn-bg-deactive: #262626;
  --border-color: #3d3d3d;
}

body {
  background-color: var(--main-bg);
  color: white;
  font-family: "Roboto", Arial, sans-serif;
}

.blocks {
  background: var(--blocks);
  border-radius: 16px;
  box-sizing: border-box;
}

/* ====== Элементы ====== */
button {
  background-color: var(--btn-bg);
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: inherit;
  padding: 0.8em;
}

input {
  padding: 0.7em;
  margin-top: 1.5em;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  background: var(--input-color);
  color: white;
}

label {
  display: flex;
  font-weight: normal;
}

/* ====== Шапка ====== */

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #333;
}

/* ====== Форма ====== */
form {
  display: flex;
  flex-direction: column;
}

.main {
  background: var(--form-bg);
  width: 90%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 50px #00000050;
  border-radius: 15px;
}

/* ====== auth-page ====== */

body.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ====== form ====== */
#auth-form {
  background: var(--form-bg);
  border-radius: 30px;
  border: 1px solid #6a6a6a;
  padding: 2em 1em;
  width: clamp(150px, 35vh, 500px);
}

#username {
  display: none;
}

/* ====== Текст ====== */
.auth-h2 {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.auth-p {
  text-align: center;
  font-size: 14px;
  color: #ffffff59;
  margin-bottom: 2em;
  margin-top: 0.7em;
}

#auth-p-success {
  color: green;
  margin: 0.7em;
  font-size: 12px;
  visibility: hidden;
  /*border: 5px solid white;*/
}

/* ====== Контейнер для кнопок ====== */
.auth-btn-container {
  width: 100%;
  display: flex;
  background: #262626;
  border-radius: 16px;
  position: relative;
  z-index: 0;
}

/* ====== Кнопки ====== */
.auth-btn-action:hover {
  background-color: #0056b3;
}

.auth-btn-change {
  width: 60%;
  background-color: transparent;
}

#auth-btn-action {
  margin: 0;
  /*border: 5px solid white;*/
}

/* ====== Слайдер ====== */
#highlight {
  background: #0071e3;
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 16px;
  z-index: -1;
  left: 0;
  transition: left 0.4s ease;
}
