/* ====== Базовые стили ====== */

:root {
  --main-bg: #0f0f0f;
  --form-bg: #1d1d1d;
  --blocks: #1d1d1d;
  --btn-bg: #0071e3;
  --txt-color-dark: #1d1d1f;
  --input-color: #262626;
  --btn-bg-deactive: #262626;
  --border-color: #3d3d3d;
}

body {
  background-color: var(--main-bg);
  color: white;
  font-family: "Roboto", Arial, sans-serif;
}

#main {
  display: grid;
  grid-template-columns: 20% 80%;
  border-radius: 16px;
  margin: 1em 2em;
}

.left,
.right {
  margin: 1rem;
  height: 100vh;
  border-radius: 16px;
}

.blocks {
  background: var(--blocks);
  border-radius: 16px;
  box-sizing: border-box;
}

/* ====== Элементы ====== */
button {
  background-color: var(--btn-bg);
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 14px;
  padding: 0.8em;
}

input {
  padding: 0.7em;
  margin-top: 1.5em;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  background: var(--input-color);
  color: white;
}

label {
  display: flex;
  font-weight: normal;
}

/* ====== Шапка ====== */
header {
  width: 100%;
  height: 80px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #333;
}

/* ====== Форма ====== */
form {
  display: flex;
  flex-direction: column;
}

.main {
  background: var(--form-bg);
  width: 90%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 50px #00000050;
  border-radius: 15px;
}
