/* ====== Базовые стили ====== */

:root {
    --main-bg: #212121;
    --form-bg: #171717;
    --btn-bg: #0071E3;
    --txt-color-dark: #1D1D1F;
    --input-color: #2A3038;
}


body {
    font-family: sans-serif;
    background-color: var(--main-bg);
    height: 100vh;
    color: white;
    overflow: hidden;
}

/* ====== Элементы ====== */
button {
    background-color: var(--btn-bg);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    padding: 0.7rem;
}

button:hover {
    background-color: #0056b3;
}

input {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid var(--input-color);;
    border-radius: 6px;
    background: var(--input-color);
    color: white;
}

/* ====== Шапка ====== */
header {
    width: 100%;
    height: 80px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #333;
}

/* ====== Форма ====== */
form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}


.main {
    background: var(--form-bg);
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px #00000050;
    border-radius: 15px;
}

label {
    display: flex;
    margin-top: 1rem;
    font-weight: normal;

}






