# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

**/.DS_Store
**/__pycache__
**/.classpath
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/.dockerignore
README.Docker.md

**/.env
**/.git
**/.gitignore

**/.venv
**/.hypothesis
**/node_modules


frontend/
nginx/
media/
hooks/

eslint.config.js
package-lock.json
package.json
shemathesis.toml
.pre-commit-config.yaml

