<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
      <nav>
        <a href="#">Логотип</a>
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
    </header>
    <div class="main">
        <div class="in-main">
            <h2>Вы вошли</h2>
            <button type="button" id="logoutButton">Выйти</button>
        </div>
    </div>
<script src="../static/cookie_auth.js"></script>
</body>
</html>
