<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизация</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/auth.css" />
  </head>
  <body class="auth-page">
    <div id="auth-form">
      <h2 class="auth-h2">Vellory</h2>
      <p class="auth-p">Войдите в свой аккаунт</p>
      <form id="loginForm">
        <div class="auth-btn-container">
          <button type="button" id="loginBtn" class="auth-btn auth-btn-change">
            Войти
          </button>
          <button
            type="button"
            id="registerBtn"
            class="auth-btn auth-btn-change auth-deactive-btn"
          >
            Создать аккаунт
          </button>
          <div id="highlight"></div>
        </div>
        <label for="email"></label>
        <input
          type="email"
          id="email"
          name="email"
          required
          placeholder="Email"
          pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
          title="Введите корректный email (должна быть точка после @)"
        />

        <label for="username"></label>
        <input
          type="text"
          id="username"
          name="username"
          required
          placeholder="Имя"
        />

        <label for="password"></label>
        <input
          type="password"
          id="password"
          name="password"
          required
          placeholder="Пароль"
        />

        <p id="auth-p-success" class="auth-p">Успешная регистрация</p>

        <button id="auth-btn-action" type="submit" class="auth-btn">
          Войти
        </button>
      </form>
    </div>
    <!--<script src="../static/auth.js"></script>-->
    <script src="../static/cookie_auth.js"></script>
  </body>
</html>
