<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/auth.css">
</head>
<body class="auth-page">
    <div id="auth-form">
        <div id="in-auth-form">
            <h2 class="auth-h2">Вход в Vellory</h2>
            <form id="loginForm">
                <label for="username"></label>
                <input
                type="text"
                id="username"
                name="username"
                required
                placeholder="Имя пользователя или Email"
                >
                <label for="password"></label>
                <input type="password" id="password" name="password" required placeholder="Пароль">
                <div class="auth-btn-container">
                    <button type="submit" class="auth-btn">Войти</button>
                    <button type="submit" class="auth-btn">Создать аккаунт</button>
                </div>
            </form>
        </div>
    </div>
<!--<script src="../static/auth.js"></script>-->
<script src="../static/cookie_auth.js"></script>
</body>
</html>
