/* Regular */
@font-face {
  font-family: "Lato";
  src:
    url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "Lato";
  src:
    url("../fonts/Lato-Medium.woff2") format("woff2"),
    url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: "Lato";
  src:
    url("../fonts/Lato-Semibold.woff2") format("woff2"),
    url("../fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Lato";
  src:
    url("../fonts/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Lato", "Segoe UI", "Noto Sans", sans-serif;
}

/*var(--checkbox-color)*/
:root {
  --test: transparent;
  --main-bg: #0f0f0f;
  --form-bg: #1d1d1d;
  --btn-bg: #0071e3;
  --btn-bg2: #3671dd;
  --btn-bg-deactive: #262626;
  --blocks-bg: #18181b;
  --text-color: white;
  --txt-color-dark: #1d1d1f;
  --input-color: #262626;
  --border-color: #3d3d3d;
  --icons-color: #7faae7;
  --hover: #0056b3;
  --checkbox-color: #262626;
  --stats-blocks-bg: #181818;
  --search-header-bg: #282829;
  --search-bg: #3b3b3c;
  --content-wrap: #181818;
}

#logoutButton {
  position: relative;
  z-index: 10;
}

html,
body {
  margin: 0;
  color: var(--text-color);
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--main-bg);
  font-size: 16px;
  line-height: 120%;
}

.dashboard {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 0;
  grid-template-columns: minmax(100px, 250px) auto;
  grid-template-rows: 80px auto;
  grid-template-areas: "menu search" "menu content";
}

#search {
  background: var(--search-bg);
  color: var(--text-color);
  border-radius: 16px;
  margin-left: 1em;
}

.search-wrap {
  grid-area: search;
  background: var(--search-header-bg);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
}

.search-wrap .search {
  height: 40px;
}

.search-wrap .search label {
  display: flex;
  align-items: center;
  height: 100%;
}

.search-wrap .search label svg {
  display: block;
}

.search-wrap .search label svg path,
.search-wrap .search label svg circle {
  fill: var(--icons-color);
  transition: fill 0.15s ease;
}

.search-wrap .search label input {
  display: block;
  padding-left: 1em;
  height: 100%;
  margin: 0;
  border: 0;
}

.search-wrap .search label input:focus {
  background: red;
}

.search-wrap .search label:hover svg path,
.search-wrap .search label:hover svg circle {
  fill: var(--hover);
}

.search-wrap .user-actions button {
  border: 0;
  background: none;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
}

.search-wrap .user-actions button svg {
  position: relative;
  top: 2px;
}

.search-wrap .user-actions button svg path,
.search-wrap .user-actions button svg circle {
  fill: var(--icons-color);
  transition: fill 0.15s ease;
}

.search-wrap .user-actions button:hover svg path,
.search-wrap .user-actions button:hover svg circle {
  fill: var(--hover);
}

.menu-wrap {
  grid-area: menu;
  /*overflow: auto;*/
  background: var(--main-bg);
  border-right: 1px solid var(--border-color);
}

.menu-wrap .user {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-wrap .user .user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.menu-wrap .user .user-avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-wrap .user figcaption {
  margin-top: 1em;
  color: var(--text-color);
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
}

.menu-wrap nav {
  display: block;
  margin-top: 4em;
}

.menu-wrap nav section {
  display: block;
  margin-left: 2em;
}

/*Скрыт*/
.menu-wrap nav h3 {
  display: none;
  padding-bottom: 1em;
  font-size: 0.875em;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 600;
  text-align: center;
}

.menu-wrap nav ul {
  display: block;
  margin-top: 1em;
  padding: 0;
}

.menu-wrap nav li {
  display: block;
  padding: 0;
  margin-top: 1em;
  font-size: 16px;
}

.menu-wrap nav li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 0.875em;
  transition: color 0.15s ease;
}

.menu-wrap nav li a svg {
  display: block;
  margin-right: 1em;
}

.menu-wrap nav li a svg path,
.menu-wrap nav li a svg circle {
  fill: var(--icons-color);
  transition: fill 0.15s ease;
}

.menu-wrap nav li a:hover {
  color: var(--text-color);
}

.menu-wrap nav li a:hover svg path,
.menu-wrap nav li a:hover svg circle {
  fill: var(--hover);
}

.menu-wrap nav li a.active {
  color: var(--text-color);
}

.menu-wrap nav li a.active svg path,
.menu-wrap nav li a.active svg circle {
  fill: var(--icons-color);
}

.content-wrap {
  grid-area: content;
  padding: 2em 3em;
  overflow: auto;
  background: var(--content-wrap);
}

/*Скрыто display: flex*/
.content-wrap .content-head {
  display: none;
  align-items: center;
  height: 10%;
  min-height: 80px;
}

.content-head .stats-container {
  display: flex;
  justify-content: center;
  height: 60%;
  gap: 5em;
  font-size: 17px;
  width: 100%;
}

.stats-container .stats-content {
  background: var(--stats-blocks-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding: 1em;
}

.content-wrap .person-boxes {
  margin: 2em 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /*280 default*/
  grid-gap: 2em;
  row-gap: 2em;
  grid-auto-rows: 180px;
}

.content-wrap .person-boxes .task-container {
  background: #1d1d1d;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: none;
  flex-direction: column;
  max-width: 300px;
  align-self: start;
}

.task-container .up {
  display: flex;
  justify-content: space-between;
}

.up span {
  font-size: 14px;
  margin: 0.7em 0 0 1em;
  color: gray;
}

.up .task-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3em 0.3em 0 0;
}

.task-btn .card-btn-cancel {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}

.task-btn .change-btn {
  width: 28px;
  height: 28px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}

.icon-btn svg {
  font-size: 20px;
}

.task-container .card-header {
  margin-top: 0.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-container .card-header .card-title-input {
  border: none;
  outline: none;
  max-width: 200px;
  border-radius: 10px;
  margin-left: 0.8em;
  background: transparent;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
}

.content-wrap .person-boxes .task-container .card-header .card-circles {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 1em;
}

.card-circles .circle {
  width: 13px;
  height: 13px;
  border: 1px solid #aaa;
  border-radius: 50%;
  cursor: pointer;
}

.content-wrap .person-boxes .card-content {
  background: #262626;
  border: 1px solid var(--border-color);
  min-height: 80px;
  border-radius: 10px;
  margin: 0.7em 0.5em 0.5em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content .card-content-text textarea {
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  border-radius: 10px;
  margin: 0.5em;
  background: #262626;
  color: var(--text-color);
  width: 95%;
}

.card-content .card-content-footer {
  display: flex;
  justify-content: flex-end;
}

.card-content .card-content-footer .card-btn-save {
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}

.card-content-footer .card-btn-save svg {
  padding: 0;
  display: block;
  font-size: 30px;
}

.content-wrap .person-boxes .box-bio {
  background: var(--blocks-bg);
  height: 220px;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: grid;
  grid-template-rows: 20% 20% 60%;
}

.content-wrap .person-boxes .box-bio .bio-name {
  color: var(--text-color);
  margin: 0;
  font-size: 1em;
  font-weight: 700;
  line-height: 100%;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrap .person-boxes .box-bio .bio-position {
  margin: 0;
  font-size: 0.875em;
  line-height: 100%;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrap .person-boxes .box-actions {
  margin-top: 1.25em;
  padding-top: 1.25em;
  width: 100%;
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-wrap .person-boxes .box-actions button {
  border: 0;
  background: none;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
}

.content-wrap .person-boxes .box-actions button svg {
  position: relative;
  top: 2px;
}

.content-wrap .person-boxes .box-actions button svg path,
.content-wrap .person-boxes .box-actions button svg circle {
  fill: var(--icons-color);
  transition: fill 0.15s ease;
}

.content-wrap .person-boxes .box-actions button:hover svg path,
.content-wrap .person-boxes .box-actions button:hover svg circle {
  fill: var(--hover);
}

#user-avatar-img:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

#switch-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-row: 1;
}

.checkbox-wrapper:hover .check {
  stroke-dashoffset: 0;
}

.checkbox-wrapper {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.checkbox-wrapper .background {
  fill: var(--checkbox-color);
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper .stroke {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper .check {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dashoffset: 22;
  stroke-dasharray: 22;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  -appearance: none;
  -webkit-appearance: none;
}

.checkbox-wrapper input[type="checkbox"]:hover {
  cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"]:checked + svg .background {
  fill: green;
}

.checkbox-wrapper input[type="checkbox"]:checked + svg .stroke {
  stroke-dashoffset: 0;
}

.checkbox-wrapper input[type="checkbox"]:checked + svg .check {
  stroke-dashoffset: 0;
}
